<section class="table">
    <div class="container">
        <div class="table_shell">
            <div class="table_title">Строиком - делаем вещи</div>
            <table class="table_table">
                <col width ='30%'>
                <col width ='70%'>
                <tbody class="table_tbody">
                    <tr class="table_tr">
                        <td class="table_td">f</td>
                        <td class="table_td">f</td>
                    </tr>
                    <tr class="table_tr">
                        <td class="table_td">f</td>
                        <td class="table_td">f</td>
                    </tr>
                    <tr class="table_tr">
                        <td class="table_td">f</td>
                        <td class="table_td">f</td>
                    </tr>
                    <tr class="table_tr">
                        <td class="table_td">f</td>
                        <td class="table_td">f</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>