.social{
    &_shell{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
        padding-bottom: 50px;
        @include small-tablet{
            padding-bottom: 30px;
        }
        @include mobile{
            gap: 20px;
        }
    }
    &_title{
        color: var(--base-color-white);
        font-size: 30px;
        line-height: 120%;
        font-weight: 700;
        display: flex;
        justify-content: center;
    }
    &_cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px;
        @include small-tablet{
            justify-content: center;

        }
        @include mobile{
            padding: 0 50px 0 50px;
        }
    }
    &_card{
        color: var(--base-color-white);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
        gap: 15px;
        max-width: 320px;
        border: solid 1px var(--base-color-white) ;
        margin-bottom: 40px;
        @include mobile{
            margin-bottom: 0px;
            max-height: 30%;
        }
        &--date{
            font-size: 14px;
            line-height: 120%;
            @include mobile{
                font-size: 12px;
            }
            @include small-mobile{
                font-size: 10px;
            }
        }
        &--info{
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 15px;
        }
        &--title{
            display: flex;
            justify-content: center;
            font-size: 20px;
            font-weight: 700;
            @include mobile{
                font-size: 18px;
            }
            @include small-mobile{
                font-size: 16px;
            }
        }
        &--text{
            font-size: 16px;
            @include mobile{
                font-size: 14px;
            }
            @include small-mobile{
                font-size: 12px;
            }
        }
        &--button{
            color: var(--base-color-white);
            line-height: 120%;
            display: flex;
            align-items: center;
            border: solid 1px var(--base-color-white) ;
            padding: 6px 30px;
            @include small-mobile{
                padding: 6px 24px;
                font-size: 14px;
            }
        }
    }

}

//hover 
.social_card--button:hover{
    color: var(--base-color-30);
    border: solid 1px var(--base-color-30) ;
}