.layot{
    &_shell{
        display: flex;
        flex-direction: column;
        
    }
    &_title{
        color: var(--base-color-white);
        margin-bottom: 40px;
        font-size: 26px;
        font-weight: 700;
        @include small-tablet{
            font-size: 24px;
        }
        @include mobile{
            font-size: 20px;
        }
        @include small-mobile{
            font-size: 18px;
        }
    }
    &_nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &_tab{
        
        background-color: var(--base-color-20);
        color: var(--base-color-white);
        width: 24.5%;
        padding: 15px 0;
        border-radius: 10px 10px 0 0 ;
        @include small-tablet{
            font-size: 16px;
        }
        @include mobile{
            font-size: 14px;
        }
        @include small-mobile{
            font-size: 12px;
        }
    }
    &_item{
        max-width: 100%;
        color: var(--base-color-black);
        height: 150px;
        background-color: var(--base-color-white);
        border-radius: 0 0 10px 10px;
        padding: 20px;
        @include mobile{
            font-size: 14px;
        }
        @include small-mobile{
            font-size: 12px;
        }
    }
    
}
.active_button{
    background-color: var(--base-color-white);
    color: var(--base-color-black);
    
};
.active_button{
    display: block
};
.layot_item:not(.active_item){
    display: none;
}