.table{
    color: var(--base-color-white);
    margin-bottom: 70px;
    &_shell{
        @include flex-column-space-between;
        
        gap: 50px;
        @include small-tablet{
        padding: 0 50px 0 50px;
        }
        @include mobile{
            padding: 0 30px 0 30px;
        }
        @include small-mobile{
            padding: 0 10px 0 10px;
        }
    }
    &_title{
        line-height: 36px;
        font-size: 26px;
        font-weight: 700;
        @include small-tablet{
            font-size: 24px;
            line-height: 32px;
        }
        @include mobile{
            font-size: 20px;
            line-height: 28px;
        }
        @include small-mobile{
            font-size: 18px;
        }
    }
    &_table{
        border-collapse: collapse;
    }
    &_td{
        border: solid 1px var(--base-color-white);
        padding: 20px;
        @include small-tablet{
            padding: 12px;
            font-size: 18px;
        }
        @include mobile{
            font-size: 16px;
            padding: 10px;
        }
        @include small-mobile{
            padding: 8px;
            font-size: 12px;
        }
    }

}