<section class="contact" >
    <div class="container">
        <div class="contact__shell" >
            <div class="contact__line"></div>
            <div class="contact__item">
                <div class="contact__item--title">
                    whatsapp
                    <div class="contact__item--title-logo">
                        <img src="/assets/icons/whatsapp__logo.svg" alt="">
                    </div>
                </div>
                <div class="contact__item--info">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
                </div>
            </div>
            <div class="contact__line"></div>
            <div class="contact__item">
                <div class="contact__item--title">
                    Instagram
                    <div class="contact__item--title-logo">
                        <img src="/assets/icons/instagram__logo.svg" alt="">
                    </div>
                </div>
                
                <div class="contact__item--info">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
                </div>
            </div>
            <div class="contact__line"></div>
            <div class="contact__item">
                <div class="contact__item--title">
                    Vk
                    <div class="contact__item--title-logo">
                        <img src="/assets/icons/vk__logo.svg" alt="">
                    </div>
                </div>
                <div class="contact__item--info">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
                    
                </div>
            </div>
            <div class="contact__line"></div>
            <div class="contact__item">
                <div class="contact__item--title">
                    <span>+7 (999)999-99-99</span>
                    <div class="contact__item--title-logo">
                        <img src="/assets/icons/phone__logo.svg" alt="">
                    </div>
                </div>
                <div class="contact__item--info">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </div>
            </div>
            <div class="contact__line"></div>
        </div>
    </div>
</section>