<secction class="gallery">
    <div class="container">
        <div class="gallery__shell">
            <div class="gallery__first-column">
                <div class="first-column__first-item">
                    <div class="first-column__first-item--img">
                        <img src="/assets/icons/photo_2025-06-11_14-32-54.jpg" alt="">
                    </div>
                    <div class="first-column__first-item--title">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Corrupti, accusamus.
                    </div>
                    <div class="first-column__first-item--text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis molestiae esse, odio at
                        numquam consequatur reiciendis vitae doloremque fugiat harum, voluptas possimus suscipit
                        accusantium tempora! Perspiciatis accusantium assumenda quo ab praesentium? Unde.
                    </div>
                </div>
                <div class="first-column__second-item">
                    <div class="first-column__second-item--img">
                        <img src="/assets/icons/photo_2025-06-11_14-32-54.jpg" alt="">
                    </div>
                    <div class="first-column__second-item--title">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    </div>
                    <div class="first-column__second-item--text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis molestiae esse, odio at
                        numquam consequatur reiciendis vitae doloremque fugiat harum, voluptas possimus suscipit
                        accusantium tempora! Perspiciatis accusantium assumenda quo ab praesentium? Unde.
                    </div>
                </div>
            </div>
            <div class="gallery__second-column">
                <div class="second-column__first-item">
                    <div class="second-column__first-item--img">
                        <img src="/assets/icons/photo_2025-06-11_14-32-54.jpg" alt="">
                    </div>
                    <div class="second-column__first-item--title">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Corrupti, accusamus.
                    </div>
                    <div class="second-column__first-item--text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis molestiae esse, odio at
                        numquam consequatur reiciendis vitae doloremque fugiat harum, voluptas possimus suscipit
                        accusantium tempora! Perspiciatis accusantium assumenda quo ab praesentium? Unde.
                    </div>
                </div>
                <div class="second-column__second-item">
                    <div class="second-column__second-item--img">
                        <img src="/assets/icons/photo_2025-06-11_14-32-54.jpg" alt="">
                    </div>
                    <div class="second-column__second-item--title">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    </div>
                    <div class="second-column__second-item--text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis molestiae esse, odio at
                        numquam consequatur reiciendis vitae doloremque fugiat harum, voluptas possimus suscipit
                        accusantium tempora! Perspiciatis accusantium assumenda quo ab praesentium? Unde.
                    </div>
                </div>
            </div>
        </div>
    </div>
</secction>