<section class="heading">
    <div class="container">
        <div class="heading__shell">
            <div class="heading__title">Строиком - ....</div>
            <div class="heading__info">
                <div class="heading__line"></div>
                <div class="heading__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dolor culpa deleniti doloribus incidunt aperiam praesentium
                    laborum! Iure atque fugit nobis dicta saepe nesciunt numquam
                    nam consectetur amet adipisci, maxime minus distinctio aperiam!
                </div>
            </div>
        </div>
    </div>
</section>