<section class="tabsInfo">
    <div class="container">
        <div class="tabsInfo__shell">
            <ul class="tabsInfo__tabs">
                <button class="tabsInfo__tab active__button" data-tab="tab__1">таб 1</button>
                <button class="tabsInfo__tab" data-tab="tab__2">таб 2</button>
                <button class="tabsInfo__tab" data-tab="tab__3">таб 3</button>
                <button class="tabsInfo__tab" data-tab="tab__4">таб 4</button>
                <button class="tabsInfo__tab" data-tab="tab__5">таб 5</button>
            </ul>
            <div class="tabsInfo__items">
                <div class="tabsInfo__item active__item" id="tab__1">
                    <div class="swiper swiper__firstTab--swiper">
                        <div class="swiper-wrapper swiper__firstTab--wrapper">
                            <div class="swiper-slide swiper__firstTab--slide">
                                <div class="swiper-slide__shell">
                                    <div class="swiper-slide__img">
                                        <img src="/assets/icons/photo_2025-06-11_14-32-54.jpg" alt="">
                                    </div>
                                    <div class="swiper-slide__info">
                                        1 Lorem ipsum, dolor sit amet consectetur adipisicing
                                        elit. Obcaecati animi id illo laudantium eos ex.
                                        Accusamus ut, unde voluptatum commodi suscipit molestias
                                        esse adipisci repellendus minus, quibusdam iste veniam placeat
                                        aut delectus.
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper__firstTab--slide">
                                <div class="swiper-slide__shell">
                                    <div class="swiper-slide__img">
                                        <img src="/assets/icons/photo_2025-06-11_14-32-54.jpg" alt="">
                                    </div>
                                    <div class="swiper-slide__info">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing
                                        elit. Obcaecati animi id illo laudantium eos ex.
                                        Accusamus ut, unde voluptatum commodi suscipit molestias
                                        esse adipisci repellendus minus, quibusdam iste veniam placeat
                                        aut delectus.
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper__firstTab--slide">
                                <div class="swiper-slide__shell">
                                    <div class="swiper-slide__img">
                                        <img src="/assets/icons/photo_2025-06-11_14-32-54.jpg" alt="">
                                    </div>
                                    <div class="swiper-slide__info">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing
                                        elit. Obcaecati animi id illo laudantium eos ex.
                                        Accusamus ut, unde voluptatum commodi suscipit molestias
                                        esse adipisci repellendus minus, quibusdam iste veniam placeat
                                        aut delectus.
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper__firstTab--slide">
                                <div class="swiper-slide__shell">
                                    <div class="swiper-slide__img">
                                        <img src="/assets/icons/photo_2025-06-11_14-32-54.jpg" alt="">
                                    </div>
                                    <div class="swiper-slide__info">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing
                                        elit. Obcaecati animi id illo laudantium eos ex.
                                        Accusamus ut, unde voluptatum commodi suscipit molestias
                                        esse adipisci repellendus minus, quibusdam iste veniam placeat
                                        aut delectus.
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper__firstTab--slide">
                                <div class="swiper-slide__shell">
                                    <div class="swiper-slide__img">
                                        <img src="/assets/icons/photo_2025-06-11_14-32-54.jpg" alt="">
                                    </div>
                                    <div class="swiper-slide__info">
                                        5 Lorem ipsum, dolor sit amet consectetur adipisicing
                                        elit. Obcaecati animi id illo laudantium eos ex.
                                        Accusamus ut, unde voluptatum commodi suscipit molestias
                                        esse adipisci repellendus minus, quibusdam iste veniam placeat
                                        aut delectus.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper__firstTab--buttons">
                            <div class="swiper-button-prev swiper__firstTab--button-prev swiper__firstTab--button"><img
                                    src="/assets/icons/left.svg" alt=""></div>
                            <div class="swiper-button-next swiper__firstTab--button-next swiper__firstTab--button"><img
                                    src="/assets/icons/right.svg" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="tabsInfo__item" id="tab__2">
                    <div class="secondTab">
                        <p class="secondTab__p">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatum cupiditate sequi
                            consectetur ipsa! Eveniet soluta eius harum maxime libero debitis reprehenderit velit illo
                            quaerat. Odit dolore cupiditate, totam voluptatum eligendi et sed sequi. Mollitia voluptatem
                            minus dolor. Fugit esse tempore soluta culpa error enim ducimus saepe, distinctio cum
                            maiores accusamus possimus quisquam numquam ad facilis cumque, velit odit iste nam nihil
                            doloribus deleniti.
                        </p>
                        <p class="secondTab__p">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi suscipit ullam aliquam minima
                            molestiae officia esse modi perferendis eos magni animi nostrum tempora possimus harum
                            doloremque nam illo, soluta quam odio? Libero tempora qui est? Obcaecati deleniti deserunt
                            veniam pariatur, ad quos consequatur accusantium magni nobis. Consequuntur recusandae,
                            fugiat, ipsam fugit architecto hic, ad perferendis quae sunt accusantium nisi aut. Assumenda
                            omnis incidunt obcaecati.
                        </p>
                    </div>
                </div>
                <div class="tabsInfo__item" id="tab__3">fhdghfdhfd</div>
                <div class="tabsInfo__item" id="tab__4"></div>
                <div class="tabsInfo__item" id="tab__5"></div>
            </div>
        </div>
    </div>
</section>