.footer {
    margin-top: 70px;
    margin-bottom: 50px;
    color: var(--base-color-white);
    border-top: solid 1px var(--base-color-white);

    @include small-tablet {
        padding: 0 50px 0 50px;
        margin-top: 50px;
        margin-bottom: 40px;
    }

    @include mobile {
        padding: 0 20px 0 20px;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    &_shell {
        margin: 70px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        @include small-tablet{
            margin: 50px 0;
        }
        @include mobile{
            margin: 40px 0;
        }
        @include small-mobile{
            margin: 30px 0;
        }

        @include small-tablet {
            flex-direction: column;
            gap: 20px;
        }
    }

    &__groups {
        width: 100%;
        @include flex-row-space-between;
        gap: 40px;

        @include small-tablet {
            gap: 20px;
        }

        @include mobile {
            gap: 16px;
        }
    }

    &_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 14px;
        max-width: 300px;

        @include small-tablet {
            flex-direction: row;
            max-width: none;
        }

        &-logo {
            max-width: 150px;

            @include small-tablet {
                max-width: 100px;
            }

            @include small-mobile {
                max-width: 75px;
            }

        }

        &-text {
            @include small-tablet {
                line-height: 1.5em;
                font-size: 14px;
            }

            @include small-mobile {
                font-size: 12px;
            }
        }
    }


    &_group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 14px;
        max-height: 200px;

        @include small-tablet {
            gap: 6px;
        }

        &-li {
            font-size: 18px;
            font-weight: 400;
            color: var(--base-color-white);

            @include small-tablet {
                font-size: 16px;
                line-height: 1.5em;
            }

            @include mobile {
                font-size: 12px;
            }
        }
    }

    &_title,
    &_group-title {
        font-size: 18px;
        font-weight: 700;

        @include small-tablet {
            font-size: 16px;
            line-height: 1.5em;
        }

        @include mobile {
            font-size: 13px;
        }
    }
}

//hover 
.footer_group-li:hover {
    color: var(--base-color-30);
}