.footer{
    margin-top: 70px;
    margin-bottom: 50px;
    color: var(--base-color-white);
    border-top: solid 1px var(--base-color-white);
    &_shell{
        margin: 70px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 40;
    }
    &_info{
        max-width: 300px;
        @include small-tablet{
            max-width: 200px;
        }
        &-logo{
        max-width: 150px;
        @include small-tablet{
            max-width: 100px;
        }
        &-text{
            @include small-tablet{
                line-height: 1.5em;
                font-size: 14px;
            }
        }
    }

    }
    &_info,&_group{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 14px;
    }
    &_group{
        max-height: 200px;

        &-li{
        font-size: 18px;
        font-weight: 400;
        color: var(--base-color-white);
        @include small-tablet{
            font-size: 16px;
            line-height: 1.5em;
        }
    }
    }
    &_title,&_group-title{
        font-size: 18px;
        font-weight: 700;
        @include small-tablet{
            font-size: 16px;
            line-height: 1.5em;
        }
    }
}
//hover 
.footer_group-li:hover{
    color: var(--base-color-30);
}