.form {
    position: fixed;
    background-color: var(--base-color-20);
    top: 40vh;
    left: -150vw;
    border-radius: 10px;
    transition: 0.3s;

    &__shell {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 35vw;
        padding: 20px;
        align-items: flex-start;
        z-index: 16;
    }

    &__name,
    &__text,
    &__tel {
        border-radius: 5px;
        padding-left: 7px;
        line-height: 1.5em;
    }

    &__tel {
        width: 60%;
    }

    &__text {
        width: 100%;
        height: 10vh;
        text-wrap: wrap;
        resize: vertical;
    }

    // &__text::placeholder{
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    // }
    &__cancel {
        position: absolute;
        width: 40px;
        top: 10px;
        right: 10px;
    }

    &__submit {
        background-color: var(--base-color-white);
        border-radius: 5px;
        padding-left: 7px;
        line-height: 1.5em;
        color: var(--base-color-black);
        padding: 0 10px;

        &-shell {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        :hover {
            background-color: var(--base-color-black);
            color: var(--base-color-white);
        }



    }

    &__submit:hover {
        background-color: var(--base-color-black);
        color: var(--base-color-white);
    }

}

.form__shadow {
        display: none;
        background-color:  rgba(0, 0, 0, 0.66);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 15;
}