.header {

    padding: 50px;
    background-color: var(--base-color-20);
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    display: flex;
    position: sticky;
    width: 100%;
    top: 0;
    animation: ani 0.5s forwards;
    z-index: 2;

    @include mobile {
        padding: 15px 15px 10px 15px;
        max-height: 85px;
        height: auto;
        overflow: hidden;
    }

    &_logo img {
        max-height: 90px;

        @include mobile {
            max-height: 70px;
        }
    }

    &_info {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }

    &_phone {
        padding: 10px;
        border: solid 1px var(--base-color-white);
        max-height: 40px;

        @include mobile {
            display: none;
        }
    }

    &_phone-a {
        color: var(--base-color-white);
        font-weight: 18px;
    }

    &_burger img {
        max-height: 50px;

        @include mobile {
            max-height: 30px;
        }
    }

}

@keyframes headerVisible {
    0% {
        top: -200px;
    }

    100% {
        top: 0px;
    }
}

@keyframes headerDontVisible {
    0% {
        top: 0px;
    }

    100% {
        top: -200px;
    }
}

;

//burger
.burger {
    width: 300px;
    display: none;
    background-color: var(--base-color-20);
    color: var(--base-color-white);
    position: fixed;
    right: -300px;
    top: 0;
    bottom: 0;
    padding: 40px 0;
    height: 100vh;
    z-index: 11;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include mobile {
        width: 200px;
        padding: 30px 20px;
    }

    @include small-mobile {
        width: 175px;
        padding: 20px 10px;
    }

    &_shadow {
        display: none;
        background-color: rgba(0, 0, 0, 0.66);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
    }

    &_cancel {
        position: absolute;
        top: 10px;
        right: 10px;
        max-width: 50px;
        max-height: 50px;

        @include mobile {
            max-width: 40px;
            max-height: 40px;
        }

        @include small-mobile {
            max-width: 30px;
            max-height: 30px;
        }
    }

    &_shell {
        @include flex-column;
        justify-content: space-between;
        align-items: center;

    }

    &_top {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &_logo img {
        max-width: 150px;

        @include mobile {
            max-width: 100px;
        }

        @include small-mobile {
            max-width: 70px;
        }
    }

    &_ul {
        @include flex-column;
        gap: 10px;

        @include mobile {
            gap: 8px;
        }

        @include small-mobile {
            gap: 6px;
        }
    }

    &_li {
        color: var(--base-color-white);
        line-height: 30px;
        font-weight: 700;
        font-size: 18px;

        @include mobile {
            line-height: 1.5em;
            font-size: 16px;

        }

        @include small-mobile {
            font-size: 14px;
        }
    }

    &__bottom {
        @include flex-column-space-between;
        gap: 20px;
    }

    &__phone {
        color: var(--base-color-white);

        @include mobile {
            line-height: 2em;
            font-size: 12px;
            padding: 0 18px;
        }

        @include small-mobile {
            font-size: 12px;
            padding: 0 12px;
        }
    }

    &_button {
        font-size: 18px;
        font-weight: 700;
        line-height: 36px;
        color: var(--neutral-color-10);
        padding: 0 24px;
        border: solid #ffff;
        background: '';
        transition: 0.25s;

        @include mobile {
            line-height: 2em;
            font-size: 14px;
            padding: 0 18px;
        }

        @include small-mobile {
            font-size: 13px;
            padding: 0 12px;
        }
    }

    &_button:hover {
        color: var(--base-color-black);
        border: solid var(--base-color-black);
    }
}

@keyframes burgerVisible {
    0% {
        right: -300px;
    }

    100% {
        right: 0px;
    }
}

@keyframes burgerDontVisible {
    0% {
        right: 0px;
    }

    100% {
        right: -300px;
    }
}