.accordion{
    margin-top: 70px;
    @include small-tablet{
        margin-bottom: 40px;
    }
    @include mobile{
        margin-bottom: 35px;
    }
    @include small-mobile{
        margin-bottom: 30px;
    }
    &_shell{
        @include flex-column;
    }
    &_heading{
        color: var(--base-color-white);
        margin-bottom: 40px;
        font-weight: 700;
        font-size: 26px;
        @include small-tablet{
            font-size: 24px
        }
        @include mobile{
            font-size: 20px
        }
        @include small-mobile{
            font-size: 18px;
        }
    }
    &_body{
        @include flex-column;
        max-width: 70vw;
        gap: 30px;
    }
    &_title{
        @include flex-row-space-between;
        background-color: var(--base-color-20);
        font-size: 20px;
        padding: 10px 20px;
        border: solid 2px var(--base-color-white);
        @include mobile{
            padding: 8px 16px;
        }
        @include small-mobile{
            padding: 6px 12px;
        }
    }
    &_text{
        color: var(--base-color-white);
        @include small-tablet{
            font-size: 18px;
        }
        @include mobile{
            font-size: 16px;
        }
        @include small-mobile{
            font-size: 14px;
        }
    }
    &_button{
        color: var(--base-color-black);
        background-color: var(--base-color-white);
        border-radius: 50%;
        padding: 15px;
        max-width: 30px;
        max-height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        @include mobile{
            max-width: 25px;
            max-height: 25px;
            padding: 10px;
        }
        @include small-mobile{
            max-width: 20px;
            max-height: 20px;
            padding: 5px;
        }
    }
    &_info{
        color: var(--base-color-black);
        background-color: var(--base-color-white);
        padding: 10px 20px;
        height: auto;
        @include small-tablet{
            font-size: 16px;
        }
        @include mobile{
            font-size: 14px;
        }
        @include small-mobile{
            font-size: 12px;
        }
        
    }
}

.active_info{
    display: flex;
}
.accordion_info:not(.active_info){
    display: none;
}