<section class="title">
    <div class="container">
        <div class="title_shell">
            <div class="title_base">
                <div class="title_img">
                    <span class="title_img--span">Бюджет</span>
                    <img src="/assets/icons/photo_2025-06-11_14-32-54.jpg" alt="">
                </div>
                <div class="title_info">
                    <p class="title_title">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Commodi neque amet ducimus explicabo impedit beatae totam architecto minima cumque qui
                    </p>
                    <p class="title_p">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Autem nam, rem eos ratione delectus labore sint ducimus doloribus?
                        Distinctio esse molestias accusantium fugit qui quod laboriosam eaque quis non,
                        eligendi consequuntur ducimus?
                    </p>
                    <p class="title_p">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Optio consequuntur voluptates architecto facere quod.
                        Sunt rem fugit maxime cum beatae velit ex consequatur debitis,
                        modi harum fugiat officiis vero nesciunt quod et saepe voluptatibus quibusdam architecto atque.
                        At necessitatibus numquam est corrupti, tempore, soluta exercitationem,
                        nobis omnis aliquid debitis suscipit ducimus voluptatem aut ipsam iusto reiciendis iure ab.
                        Error quos quo blanditiis accusantium necessitatibus?
                    </p>
                </div>
            </div>
            <div class="title_gallery">
                <div class="title_gallery--img">
                    <img src="/assets/icons/photo_2025-06-11_14-32-54.jpg" alt="">
                </div>
                <div class="title_gallery--img">
                    <img src="/assets/icons/photo_2025-06-11_14-32-54.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>