<section class="layot">
    <div class="container">
        <layot class="layot_shell">
            <div class="layot_title">Варианты планировок</div>
            <div class="layot_nav">
                <button class="layot_tab active_button" data-tab="tab_1">1 вариант</button>
                <button class="layot_tab" data-tab="tab_2">2 вариант</button>
                <button class="layot_tab" data-tab="tab_3">3 вариант</button>
                <button class="layot_tab" data-tab="tab_4">4 вариант</button>
            </div>
            <div class="layot_content">
                <div class="layot_item active_item" id="tab_1">
                    Lorem ipsum dolor sit amet consectetur,
                    adipisicing elit. Velit vel similique esse minima praesentium
                    officia provident nulla tempore quaerat, sapiente reprehenderit
                    ullam repellendus aliquid eveniet. Voluptatum illum sunt inventore labore.
                    Nisi, repudiandae.
                </div>
                <div class="layot_item" id="tab_2">текст</div>
                <div class="layot_item" id="tab_3">текст</div>
                <div class="layot_item" id="tab_4">текст</div>
            </div>
        </layot>
    </div>
</section>