<section class="footer">
    <div class="container">
        <div class="footer_shell">
            <div class="footer_info">
                <a href="../../index.html" class="footer_info-logo">
                    <img src="/assets/icons/005_stroikom_architect_logo_bw_invert-Photoroom.svg" alt=""
                        class="footer_info-logo">
                </a>
                <div class="footer_info-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Totam ipsum magnam voluptas.

                </div>
            </div>
            <div class="footer__groups">
                <ul class="footer_group">
                    <a href="/stroikom/index.html/#houses" class="footer_group-li">Наши дома</a>
                    <a href="" class="footer_group-li">Проекты домов</a>
                    <a href="" class="footer_group-li">Хоумстейдж</a>
                    <a href="" class="footer_group-li">Дизайн интерьера</a>
                    <a href="" class="footer_group-li">О компании</a>
                    <a href="" class="footer_group-li">Контакты</a>
                    <a href="" class="footer_group-li">Инвесторам</a>
                </ul>
                <ul class="footer_group">
                    <div class="footer_group-title">Наши дома</div>
                    <a href="/stroikom/budget.html" target="" class="footer_group-li">Бюджет</a>
                    <a href="/stroikom/middle.html" class="footer_group-li">Средний</a>
                    <a href="/stroikom/lux.html" class="footer_group-li">Люкс</a>
                    <a href="/stroikom/aframe.html" class="footer_group-li">Aframe</a>
                </ul>
                <ul class="footer_group">
                    <div class="footer_group-title">Заголовок</div>
                    <a href="" class="footer_group-li">пункт</a>
                    <a href="" class="footer_group-li">пункт</a>
                    <a href="" class="footer_group-li">пункт</a>
                    <a href="" class="footer_group-li">пункт</a>
                </ul>
            </div>
        </div>
    </div>
</section>