<section class="form">
    <div class="form__shell">
        <button class="form__cancel">
            <img src="/assets/icons/cancel.svg" alt="" class="form__cancel-img">
        </button>
        <input type="text" class="form__name" placeholder="Имя">
        <input type="tel" class="form__tel" placeholder="телефон в формате +71234567890">
        <textarea class="form__text" placeholder="комментарий к заказу"></textarea>
        <div class="form__cancel-shell">
            <input type="submit" class="form__submit">
        </div>
    </div>
</section>