<section class="accordion">
    <div class="container">
        <div class="accordion_shell">
            <div class="accordion_heading">Часто задаваемы вопросы</div>
            <div class="accordion_body">
                <div class="accordion_item">
                    <div class="accordion_title">
                        <div class="accordion_text">Первая вкладка</div>
                        <button class="accordion_button" id="Budget_accrodion-item-1">+</button>
                    </div>
                    <div class="accordion_info " data-accrodion="Budget_accrodion-item-1">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Quisquam repellendus doloremque necessitatibus aliquid quibusdam,
                        ratione explicabo quod, est soluta, doloribus adipisci.
                        Veniam quos eum, corrupti voluptates eligendi consequuntur
                        dignissimos velit autem suscipit!
                    </div>
                </div>
                <div class="accordion_item">
                    <div class="accordion_title">
                        <div class="accordion_text">Вторая вкладка</div>
                        <button class="accordion_button" id="Budget_accrodion-item-2">+</button>
                    </div>
                    <div class="accordion_info " data-accrodion="Budget_accrodion-item-2">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Quisquam repellendus doloremque necessitatibus aliquid quibusdam,
                        ratione explicabo quod, est soluta, doloribus adipisci.
                        Veniam quos eum, corrupti voluptates eligendi consequuntur
                        dignissimos velit autem suscipit!
                    </div>
                </div>
                <div class="accordion_item">
                    <div class="accordion_title">
                        <div class="accordion_text">Третья вкладка</div>
                        <button class="accordion_button" id="Budget_accrodion-item-3">+</button>
                    </div>
                    <div class="accordion_info " data-accrodion="Budget_accrodion-item-3">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Quisquam repellendus doloremque necessitatibus aliquid quibusdam,
                        ratione explicabo quod, est soluta, doloribus adipisci.
                        Veniam quos eum, corrupti voluptates eligendi consequuntur
                        dignissimos velit autem suscipit!
                    </div>
                </div>
                <div class="accordion_item">
                    <div class="accordion_title">
                        <div class="accordion_text">Четвертая вкладка</div>
                        <button class="accordion_button" id="Budget_accrodion-item-4">+</button>
                    </div>
                    <div class="accordion_info " data-accrodion="Budget_accrodion-item-4">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Quisquam repellendus doloremque necessitatibus aliquid quibusdam,
                        ratione explicabo quod, est soluta, doloribus adipisci.
                        Veniam quos eum, corrupti voluptates eligendi consequuntur
                        dignissimos velit autem suscipit!
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>