<section class="swiper">
    <div class="container">
        <div class="slider_shell">
            <div class="slider">
                <img class='slider-img' src="/assets/icons/photo_2025-06-11_14-32-54.jpg" />
                <img class='slider-img' src="/assets/icons/photo_2025-06-11_14-32-54.jpg" />
                <img class='slider-img' src="/assets/icons/7db7e730b8a7444ffc5a1afb08c6d320.jpg" />
                <div>
                    <img style='opacity: 1;' class="prev controlls slider_button" src="/assets/icons/left.svg" alt="">
                </div>
                <div>
                    <img style='opacity: 1;' class="next controlls slider_button" src="/assets/icons/right.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>