.contact {
    margin-top: 120px;
    margin-bottom: 120px;

    @include small-tablet {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    @include mobile {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    @include small-mobile {
        margin-top: 50px;
        margin-bottom: 50px;
    }


    &__shell {
        @include flex-row-space-between;
        width: 100%;
        gap: 32px;
        max-height: 250px;

        @include tablet {
            max-height: 270px;
            flex-wrap: wrap;
            padding: 0 50px 0 50px;
        }

        @include small-tablet {
            padding: 0 25px 0 25px;
        }

        @include mobile {
            padding: 0 20px 0 20px;
            max-height: none;
            justify-content: center;
        }
    }

    &__line {
        border: solid 1px var(--base-color-white);

        @include tablet {
            display: none
        }
    }

    &__item {
        @include flex-column-space-between;
        max-height: 250px;
        max-width: 300px;

        @include tablet {
            min-width: 175px;
            padding: 0 15px 0 15px;
            border-left: solid 1px var(--base-color-white);
            border-right: solid 1px var(--base-color-white);
            max-width: 230px;
        }

        @include mobile {
            min-width: 130px;
            max-width: 230px;
            padding: 0 10px 0 10px;
        }

        &--title {
            color: var(--base-color-white);
            font-size: 20px;
            line-height: 150%;
            font-weight: 700;
            text-wrap: nowrap;
            display: flex;
            flex-direction: row;
            align-items: stretch;
            gap: 8px;
            max-height: 40px;

            @include small-tablet {
                font-size: 18px;
            }

            @include mobile {
                font-size: 16px;
            }

            & span {
                font-size: 18px;
                font-weight: 400;

                @include small-tablet {
                    font-size: 16px;
                }

                @include mobile {
                    font-size: 14px;
                }
            }

            &-logo img {
                max-height: 30px;
                max-width: 40px;
            }
        }

        &--info {
            color: var(--base-color-white);
            font-size: 16px;
            line-height: 130%;
            font-weight: 500;

            @include small-tablet {
                font-size: 14px;
            }
        }
    }

}