.tabsInfo {
    &__shell {
        @include flex-column-space-between;
        gap: 30px;
    }

    &__tabs {
        @include flex-row-space-between;
        max-width: 800px;

    }

    &__tab {
        font-size: 20px;
        line-height: 150%;
        color: var(--base-color-white);
        font-weight: 500;
        text-wrap: nowrap;
        @include small-tablet{
            font-size: 18px;
        }
        @include mobile{
            font-size: 16px;
        }
    }

    &__items {
        max-height: 645px;
    }

    &__item {
        color: var(--base-color-white);
        max-height: 645px;
        height: auto;
    }
}

//first tab
.swiper__firstTab {
    &--swiper {
        height: auto;
        position: relative;
    }

    &--wrapper {
        max-height: 645px;
        height: auto;
        gap: 32px;
    }

    &--slide {
        width: 43vw;
        max-width: 515px;
        max-height: 605px;
        gap: 32px;
    }
    &--button{
        width:50px ;
        height:50px ;
        background-color: var(--base-color-white);
        border-radius: 50%;
        position: absolute;
        top: 30%;
        z-index: 1;
        @include small-tablet{
            width: 40px;
            height: 40px;
        }

        @include small-mobile{
            width: 30px;
            height: 30px;
        }
        &-prev{
            left: 10px;

        }
        &-next{
            right: 10px;
        }
    }

}

.swiper-slide {
    
    &__shell {
        @include flex-column-space-between;
        gap: 32px;
    }

    &__img {
        & img {
            object-fit: cover;
            width: 100%;
        }
    }

    &__info {
        color: var(--base-color-white);
        font-size: 18px;
        line-height: 1.5em;
        font-weight: 500;
        @include small-tablet{
            font-size: 16px;
        }
        @include mobile{
            font-size: 14px
        }
        @include small-mobile{
            font-size: 12px;
        }

    }
}
//secondTab
.secondTab{
    @include flex-column-space-between;
    gap: 32px;
    &__p{
        color: var(--base-color-white);
        font-size: 18px;
        line-height: 1.5em;
        font-weight: 500;
        @include small-tablet{
            font-size: 16px;
        }
        @include mobile{
            font-size: 14px;
        }
        @include small-mobile{
            font-size: 12px;
        }
    }
}



.active__button {
    color: var(--base-color-20);
    border-bottom: solid 1px var(--base-color-20);
    font-weight: 700;
}


.tabsInfo__item:not(.active__item) {
    display: none;
}