<section class="information">
    <div class="container">
        <div class="information_shell">
            <div class="information_title">
                Строиком - ахуительная компания
            </div>
            <div class="information_info">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Ipsa fuga sint nesciunt inventore obcaecati debitis accusamus,
                nemo, ab architecto recusandae quae itaque repellat et asperiores
                autem repudiandae facilis expedita, voluptatem exercitationem.
                Distinctio!
            </div>
        </div>
    </div>
</section>