<section class="company">
    <div class="container">
        <div class="company__shell">
            <div class="company__info">
                <div class="company__info-num">890+</div>
                <div class="company__info-text">
                    some big companies that we work with,
                    and trust us very much
                </div>
            </div>
            <div class="company__logo">
                <div class="company__logo-top">
                    <div class="company__logo-box">
                        <img src="/assets/icons/Airbnb-logo.svg" alt="">
                    </div>
                    <div class="company__logo-box">
                        <img src="/assets/icons/Amazon-logo.svg" alt="">
                    </div>
                    <div class="company__logo-box">
                        <img src="/assets/icons/FedEx-logo.svg" alt="">
                    </div>
                    <div class="company__logo-box">
                        <img src="/assets/icons/Microsoft-logo.svg" alt="">
                    </div>
                </div>
                <div class="company__logo-bottom">
                    <div class="company__logo-box">
                        <img src="/assets/icons/Google-logo.svg" alt="">
                    </div>
                    <div class="company__logo-box">
                        <img src="/assets/icons/Ola-logo.svg" alt="">
                    </div>
                    <div class="company__logo-box">
                        <img src="/assets/icons/Walmart-logo.svg" alt="">
                    </div>
                    <div class="company__logo-box">
                        <img src="/assets/icons/Oyo-logo.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>