<section class="features">
    <div class="container">
        <div class="features__shell">
            <div class="features__image">
                <img
                    class="features__image-img"
                    src="/assets/icons/features-image.svg"
                    alt=""
                />
                <div class="features__block">
                    <div class="features__block-tittle">
                        <div class="features__block-tittle-text">Statictic</div>
                        <div class="features__block-tittle-more">
                            <img src="/assets/icons/features-more.svg" alt="" />
                        </div>
                    </div>
                    <div class="features__block-grafs">
                        <div class="features__block-grafs-grafic">
                            <img
                                src="/assets/icons/features-grafic-1.svg"
                                alt=""
                                width="95px"
                                height="87px"
                            />
                        </div>
                        <div class="features__block-grafs-info">
                            <div class="features__block-grafs-info-tittle">
                                Total Income
                            </div>
                            <div class="features__block-grafs-info-sum">
                                $7.020
                                <div
                                    class="features__block-grafs-info-sum-math"
                                >
                                    <img
                                        src="/assets/icons/features-up.svg"
                                        alt=""
                                    />15%
                                </div>
                            </div>
                            <div class="features__block-grafs-info-text">
                                Your Income of this month compared to last month
                            </div>
                        </div>
                    </div>
                    <div class="features__block-line"></div>
                    <div class="features__block-grafs">
                        <div class="features__block-grafs-grafic">
                            <img
                                src="/assets/icons/features-grafic-2.svg"
                                alt=""
                                width="95px"
                                height="87px"
                            />
                        </div>
                        <div class="features__block-grafs-info">
                            <div class="features__block-grafs-info-tittle">
                                Total Expense
                            </div>
                            <div class="features__block-grafs-info-sum">
                                $2.150
                                <div
                                    class="features__block-grafs-info-sum-math"
                                >
                                    <img
                                        src="/assets/icons/features-down.svg"
                                        alt=""
                                    />10%
                                </div>
                            </div>
                            <div class="features__block-grafs-info-text">
                                Your Expanse of this month compared to last
                                month
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="features__info">
                <div class="features__info-top">
                    <div class="features__info-top-tittle">
                        Passion to increase company revenue up to 85%
                    </div>
                    <div class="features__info-top-info">
                        Automate your sales, marketing and service in one
                        platform. Avoid date leaks and enable consistent
                        messaging
                    </div>
                </div>
                <div class="features__info-bottom">
                    <div class="features__info-bottom-str">
                        <img src="/assets/icons/features-mark.svg" alt="" />
                        <div class="features__info-bottom-str-text">
                            Close more deals with single - page contact
                            managment
                        </div>
                    </div>
                    <div class="features__info-bottom-str">
                        <img src="/assets/icons/features-mark.svg" alt="" />
                        <div class="features__info-bottom-str-text">
                            Enjoy one-click calling, call scripts and voicemail
                            automation
                        </div>
                    </div>
                    <div class="features__info-bottom-str">
                        <img src="/assets/icons/features-mark.svg" alt="" />
                        <div class="features__info-bottom-str-text">
                            Take stages and milestones of your deals to keep the
                            sales process an track
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
