<section class="header-main">
    <a href="../../../index.html" class="header-main_logo">
        <img src="/assets/icons/005_stroikom_architect_logo_bw_invert-Photoroom.svg" alt="">
    </a>
    <div class="header-main_info">
        <div class="header-main_phone">
            <a type="phone" href="+7-999-999-99-99" class="header-main_phone-a">+7-999-999-99-99</a>
        </div>
        <button class="header-main_burger" onclick="">
            <img src="/assets/icons/burger.svg" alt="">
        </button>
    </div>
</section>
<div class="burger_shadow"></div>
<div class="burger">
    <button class="burger_cancel">
        <img src="/assets/icons/cancel.svg" alt="">
    </button>
    <div class="burger_shell">
        <div class="burger_top">
            <a href="../../../index.html" class="burger_logo">
                <img src="/assets/icons/005_stroikom_architect_logo_bw_invert-Photoroom.svg" alt="">
            </a>
            <ul class="burger_ul">
                <a href="/stroikom/budget.html/#homes" class="burger_li" >Наши дома</a>
                <a href="" class="burger_li">Проекты домов</a>
                <a href="" class="burger_li">Хоумстейдж смебилировкой</a>
                <a href="" class="burger_li">Дизайн интерьера</a>
                <a href="" class="burger_li">О компании</a>
                <a href="" class="burger_li">Контакты</a>
                <a href="" class="burger_li">Инвесторам</a>
                <a href="" class="burger_li">Аренда Aframe</a>
                <a href="" class="burger_li">Управление глемпингом</a>
            </ul>
        </div>
    </div>
    <button class="burger_button">
        Посмотреть дома
    </button>
</div>
</div>