<section class="home" id="homes">
    <div class="container">
        <div class="home_shell shell">
            <div class="home_title">
                Наши дома
            </div>
            <div class="home_top">
                <a href="#" class="home_card">
                    <div class="home_card--title">Бюджет</div>
                    <div class="home_card--img">
                        <img src="/assets/icons/photo_2025-06-11_14-32-54.jpg" alt="">
                    </div>
                    <div class="home_card--info">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente,deserunt!
                    </div>
                </a>
                <a href="#" class="home_card">
                    <div class="home_card--title">Средний</div>
                    <div class="home_card--img">
                        <img src="/assets/icons/photo_2025-06-11_14-32-54.jpg" alt="">
                    </div>
                    <div class="home_card--info">Средний</div>
                </a>
            </div>
            <div class="home_bottom">
                <a href="#" class="home_card">
                    <div class="home_card--title">Люкс</div>
                    <div class="home_card--img">
                        <img src="/assets/icons/photo_2025-06-11_14-32-54.jpg" alt="">
                    </div>
                    <div class="home_card--info">Люкс</div>
                </a>
                <a href="#" class="home_card">
                    <div class="home_card--title">Aframe</div>
                    <div class="home_card--img">
                        <img src="/assets/icons/photo_2025-06-11_14-32-54.jpg" alt="">
                    </div>
                    <div class="home_card--info">Aframe</div>
                </a>
            </div>
        </div>
    </div>
    </div>
</section>