<section class="insight">
    <div class="container">
        <div class="insight__shell">
            <div class="insight__help">
                <h2 class="insight__help-tittle">
                    Coca help our client solve complex customer problems with
                    date that does more.
                </h2>
                <div class="insight__help-text">
                    Our platform offers the modern enterprise full control of
                    how date can be access and used with industry leading
                    software solutions for identity, activation, and date
                    collaboration
                </div>
            </div>
            <div class="insight__table">
                <div class="insight__table-left">
                    <!-- 1 -->
                    <div class="insight__card">
                        <div class="insight__card-icon">
                            <img src="/assets/icons/insight-1.svg" alt="" />
                        </div>
                        <div class="insight__card-tittle">
                            <h3>Build your date fundamental</h3>
                        </div>
                        <div class="insight__card-text">
                            Build access to date, develop valuable business
                            insights and drive revenue while maintaining full
                            control over access and use of date at all times.
                        </div>
                    </div>
                    <!-- 2 -->
                    <div class="insight__card">
                        <div class="insight__card-icon">
                            <img src="/assets/icons/insight-2.svg" alt="" />
                        </div>
                        <div class="insight__card-tittle">
                            <h3>Activate your <br> date</h3>
                        </div>
                        <div class="insight__card-text">
                            Accurately address your specific audiences at scale
                            across any channel, platform, publisher or network
                            and safely translate date between identity space to
                            improve results.
                        </div>
                    </div>
                </div>
                <div class="insight__table-right">
                    <!-- 3 -->
                    <div class="insight__card">
                        <div class="insight__card-icon">
                            <img src="/assets/icons/insight-3.svg" alt="" />
                        </div>
                        <div class="insight__card-tittle">
                            <h3>Measure more <br> effective</h3>
                        </div>
                        <div class="insight__card-text">
                            Effectively measure people-based campaigns with the
                            freedom to choose from best-of breed partners to
                            optimize and drive media innovation.
                        </div>
                    </div>
                    <!-- 4 -->
                    <div class="insight__card">
                        <div class="insight__card-icon">
                            <img src="/assets/icons/insight-4.svg" alt="" />
                        </div>
                        <div class="insight__card-tittle">
                            <h3>Strengthen <br> consumer privacy</h3>
                        </div>
                        <div class="insight__card-text">
                            Protect your customer date with leading
                            privacy-preserving technologies and advanced
                            techniques to minimize date movement while still
                            enabling insight generation.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
