<section class="main-page">
    <div class="container">
        <div class="main-page_shell">
            <div class="main-page_head">
                <a class="main-page_head--logo">
                    <img width="300" height="300" src="/assets/icons/005_stroikom_architect_logo_bw_invert-Photoroom.svg" alt="">
                </a>
                <ul class="main-page_head-ul">
                    <a href="" class="main-page_li">Наши дома</a>
                    <a href="" class="main-page_li">Проекты домов</a>
                    <a href="" class="main-page_li">Хоумстейдж с мебилировкой</a>
                    <a href="" class="main-page_li">Дизайн интерьера</a>
                    <a href="" class="main-page_li">Компания</a>
                    <a href="" class="main-page_li">Контакты</a>
                    <a href="" class="main-page_li">Инвесторам</a>
                    <a href="" class="main-page_li">Аренда Aframe</a>
                    <a href="" class="main-page_li">Управление глемпингом</a>
                </ul>
                
            </div>
            <div class="main-page_info">
                <div class="main-page_info--text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Deserunt tenetur et numquam. Blanditiis, omnis quae quibusdam,
                </div>
                <button class="main-page_info-button">Посмотреть дома</button>
            </div>
        </div>
    </div>
</section>