<section class=" main-page">
    <div class="container">
        <div class="main-page_info">
            <div class="main-page_logo"></div>
            <div class="main-page_text"></div>
        </div>
        <div class="mian-page-links">
            <ul class="main-page_ul">
                <a href="" class="main-page_li">Наши дома</a>
                <a href="" class="main-page_li">Дома на продажу</a>
                <a href="" class="main-page_li">Хоумстейдж с мебилировкой</a>
                <a href="" class="main-page_li">Дизайн интерьера</a>
                <a href="" class="main-page_li">О компании</a>
                <a href="" class="main-page_li">Контакты</a>
                <a href="" class="main-page_li">Инвесторам</a>
                <a href="" class="main-page_li">Аренда под Aframe</a>
                <a href="" class="main-page_li">Управление глемпингом</a>
            </ul>
            <button class="main-page_button"></button>
        </div>
    </div>
</section>