<section class="social">
    <div class="container">
        <div class="social_shell">
            <div class="social_title">Наши обновления</div>
            <div class="social_cards">
                <div class="social_card">
                    <div class="social_card--date">16.06.2025</div>
                    <div class="social_card--img">
                        <img src="/assets/icons/photo_2025-06-11_14-32-54.jpg" alt="">
                    </div>
                    <div class="social_card--info">
                        <div class="social_card--title">Процессы стройки</div>
                        <div class="social_card--text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Ullam voluptatum praesentium amet perspiciatis quod aut magnam explicabo.
                            Facilis ducimus sit atque soluta earum nulla dolorum vel quod impedit.
                        </div>
                        <button class="social_card--button">
                            больше
                        </button>
                    </div>
                </div>
                <div class="social_card">
                    <div class="social_card--date">16.06.2025</div>
                    <div class="social_card--img">
                        <img src="/assets/icons/photo_2025-06-11_14-32-54.jpg" alt="">
                    </div>
                    <div class="social_card--info">
                        <div class="social_card--title">Процессы стройки</div>
                        <div class="social_card--text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Ullam voluptatum praesentium amet perspiciatis quod aut magnam explicabo.
                            Facilis ducimus sit atque soluta earum nulla dolorum vel quod impedit.
                        </div>
                        <button class="social_card--button">
                            больше
                        </button>
                    </div>
                </div>
                <div class="social_card">
                    <div class="social_card--date">16.06.2025</div>
                    <div class="social_card--img">
                        <img src="/assets/icons/photo_2025-06-11_14-32-54.jpg" alt="">
                    </div>
                    <div class="social_card--info">
                        <div class="social_card--title">Процессы стройки</div>
                        <div class="social_card--text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Ullam voluptatum praesentium amet perspiciatis quod aut magnam explicabo.
                            Facilis ducimus sit atque soluta earum nulla dolorum vel quod impedit.
                        </div>
                        <button class="social_card--button">
                            больше
                        </button>
                    </div>
                </div>
                <div class="social_card">
                    <div class="social_card--date">16.06.2025</div>
                    <div class="social_card--img">
                        <img src="/assets/icons/photo_2025-06-11_14-32-54.jpg" alt="">
                    </div>
                    <div class="social_card--info">
                        <div class="social_card--title">Процессы стройки</div>
                        <div class="social_card--text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Ullam voluptatum praesentium amet perspiciatis quod aut magnam explicabo.
                            Facilis ducimus sit atque soluta earum nulla dolorum vel quod impedit.
                        </div>
                        <button class="social_card--button">
                            больше
                        </button>
                    </div>
                </div>
                <div class="social_card">
                    <div class="social_card--date">16.06.2025</div>
                    <div class="social_card--img">
                        <img src="/assets/icons/photo_2025-06-11_14-32-54.jpg" alt="">
                    </div>
                    <div class="social_card--info">
                        <div class="social_card--title">Процессы стройки</div>
                        <div class="social_card--text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Ullam voluptatum praesentium amet perspiciatis quod aut magnam explicabo.
                            Facilis ducimus sit atque soluta earum nulla dolorum vel quod impedit.
                        </div>
                        <button class="social_card--button">
                            больше
                        </button>
                    </div>
                </div>
                <div class="social_card">
                    <div class="social_card--date">16.06.2025</div>
                    <div class="social_card--img">
                        <img src="/assets/icons/photo_2025-06-11_14-32-54.jpg" alt="">
                    </div>
                    <div class="social_card--info">
                        <div class="social_card--title">Процессы стройки</div>
                        <div class="social_card--text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Ullam voluptatum praesentium amet perspiciatis quod aut magnam explicabo.
                            Facilis ducimus sit atque soluta earum nulla dolorum vel quod impedit.
                        </div>
                        <button class="social_card--button">
                            больше
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>