<section class="strength">
    <div class="container">
    <div class="strength__top">
        <div class="strength__top-block">
            <div class="strength__top-block-num">17k</div>
            <div class="strength__top-block-info">happy customers on worldwide</div>
        </div>
        <div class="strength__top-line"></div>
        <div class="strength__top-block">
            <div class="strength__top-block-num">15+</div>
            <div class="strength__top-block-info">Hours of work experience</div>
        </div>
        <div class="strength__top-line"></div>
        <div class="strength__top-block">
            <div class="strength__top-block-num">50+</div>
            <div class="strength__top-block-info">Creativity & passionate members</div>
        </div>
        <div class="strength__top-line"></div>
        <div class="strength__top-block">
            <div class="strength__top-block-num">100+</div>
            <div class="strength__top-block-info">Integrations lorem ipsum integrations</div>
        </div>
        
    </div>
    <div class="strength__image"><img src="/assets/icons/strength.svg" alt=""></div>
    <div class="strength__bottom">
        <div class="strength__bottom-title">
            Lift your business to new heights with our digit al
            marketing services
        </div>
        <div class="strength__bottom-info">
            To build software that gives customer facing teams in
            small and medium-sized businesses the ability to create
            rewarding and long-lasting relationships with customers
        </div>
    </div>
</div>
</section>