<section class="viewingHouses">
    <div class="container">
        <div class="viewingHouses_shell shell">
            <div class="viewingHouses_title">
                Запись на просмотр домов
            </div>
            <div class="viewingHouses_img">
                <img src="/assets/icons/photo_2025-06-11_14-32-54.jpg" alt="">
            </div>
            <div class="viewingHouses_info">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Eum, quod accusantium nihil excepturi quas ad praesentium?
                Pariatur similique cum, saepe exercitationem id, labore quam eos
                non dolorem expedita sint totam.
            </div>
            <button class="viewingHouses_button button">
                подробнее
            </button>
        </div>
    </div>
</section>