.button {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: var(--base-color-white);
    padding: 6px 24px;
    border: solid var(--base-color-white);

    &-form {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        border-radius: 100px;
        transition: opacity var(--transition);

        @include mobile {
            font-size: 14px;
        }
    }

    &:hover {
        opacity: 0.9;
    }
}